{% extend index.html %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block title%}
    Thêm thiết bị
{% endblock %}

{% block header%}
    Thêm thiết bị
{% endblock %}

{% block content %}
    <script>
        alert_msg = {{ alert_msg }};
        alert(alert_msg);
    </script>
    <div id="form_container">
        <form>
            <div>
                <label>Tên thiết bị</label>
                <input type="text" name="Tên thiết bị" required>
            </div>
            <div>
                <label>Loại thiết bị</label>
                <input type="text" name="Loại thiết bị" required>
            </div>
            <div>
                <label>Vị trí</label>
                <select>
                    <option></option>
                </select>
            </div>
            <div>
                <label>Mô tả thiết bị</label>
                <input type="text" name="description" required>
            </div>
            <button type="submit">Thêm thiết bị</button>
        </form>
    </div>
{% endblock %}