{% extends 'index.html' %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block title%}
    Thêm thiết bị
{% endblock %}

{% block header%}
    Thêm thiết bị
{% endblock %}

{% block content %}
    <div id="form_container">
        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Tên thiết bị</label>
                <input type="text" name="name" required>
            </div>
            <div>
                <label>Loại thiết bị</label>
                <input type="text" name="type" required>
            </div>
            <div>
                <label>Vị trí</label>
                <select name="location" required>
                    <option value="door">Cửa</option>
                </select>
            </div>
            <div>
                <label>Mô tả thiết bị</label>
                <input type="text" name="description" required>
            </div>
            <button type="submit">Thêm thiết bị</button>
        </form>
    </div>
{% endblock %}